#################################################
# Unreal Engine – 생성/캐시/빌드 산출물
#################################################
/Binaries/**
/DerivedDataCache/**
/Intermediate/**
/Saved/**

#################################################
# IDE & 빌드 시스템
#################################################
/.vs/
/.vscode/
*.sln
*.VC.db
*.log
*.tmp
*.user

#################################################
# OS 임시파일
#################################################
.DS_Store
Thumbs.db

#################################################
# 수정 없는 외부 자산 (Fab)
#################################################
/Content/ParagonIggyScorch/**